                    <div class="large reveal" id="queensBiografia" data-animation-in="spin-in" data-animation-out="spin-out" data-reveal>
                        
                        <div class="row">
                            <div class="small-12 columns">
                                <div class="quote-inline-wrap-article-content">

                                    <div class="quote-inline-wrap">
                                        <div class="quote-inline-marks">“<h3>Biografía</h3></div>
                                        <div class="quote-inline-testimonial">
                                            <div class="card">
                                                <div class="card-secction">
                                                    <table class="unstriped">
                                                        <tr>
                                                            <td>CATEGORÍA</td>
                                                            <td>ROCK AND ROLL</td>
                                                        </tr>
                                                        <tr>
                                                            <td>FECHA DE FUNDACION</td>
                                                            <td>26/12/1983</td>
                                                        </tr>
                                                        <tr>
                                                            <td>CIUDAD</td>
                                                            <td>LIVER POLL</td>
                                                        </tr>
                                                        <tr>
                                                            <td>GENERO MUSICAL</td>
                                                            <td>ROCK AND ROLL</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="quote-inline-person">
                                            <div class="quote-inline-photo">
                                                <img src="https://www.biografiasyvidas.com/biografia/q/fotos/queen.jpg" alt="Queens">
                                            </div>
                                            <p>Queens</p>
                                            <p>Important band the rock</p>
                                        </div>
                                    </div>

                                    <p>Banda de rock británica formada por Freddie Mercury (voz), Brian May (guitarra), Roger Taylor (batería) y John Deacon (bajo). El grupo gozó de gran fama a finales de los setenta y durante toda la década de los ochenta, y sus discos fueron superventas incluso después del fallecimiento en 1991 de Freddie Mercury.</p>

                                    <p>Sus orígenes se remontan al inicio de los sesenta, cuando el joven guitarrista Brian Harold May (nacido en 1947) comenzó a tocar en un grupo semiprofesional llamado 1984. Brian, experto conocedor de varios instrumentos de cuerda, diseñaba incluso sus propias guitarras, conocidas posteriormente como el modelo May.</p>

                                    <p>Brian May pasó después a formar parte de otra banda, llamada Smile, con la que editó un single. Inesperadamente, Tim Stafell, el cantante de la banda, abandonó el grupo; para buscar su sustituto, los miembros de Smile decidieron hacer una prueba al cantante de Sour Milk Sea, que no era otro que Freddie Mercury, y fue rápidamente admitido.</p>

                                    <p>Por aquel entonces Freddie Mercury ya estaba acostumbrado a aparecer en público y sobre el escenario con vestimentas llamativas y atrevidas. Freddie contaba con una prodigiosa voz y sobrados conocimientos de piano. A esto se unió una base rítmica firmada por John Richard Deacon (nacido en 1951) al bajo y la batería de Roger Meadows Taylor (nacido en 1949).</p>

                                    <p>El grupo comenzó a grabar maquetas y la compañía discográfica EMI, después de verlos actuar en el Marquee de Londres, se interesó por ellos. Ya en 1973, Queen se encerró por primera vez en los Trident Studios de Londres para grabar, bajo la supervisión de Roy Thomas Baker en los controles, su primer trabajo, Queen I, demostración de un rock agresivo, con el sonido que en adelante caracterizaría a la banda. Le siguió, a principios de 1974, Queen II, en plena evolución y búsqueda de madurez.</p>

                                    <p>A Sheer heart attack, de 1974, fue para muchos un álbum de transición. Incluía temas como Brighton rock o Now I´m here. El siguiente, A night at the opera, sería el disco que llevaría al estrellato a Queen. En 1975, el single de lanzamiento Bohemian Rhapsody fue un éxito mundial. La diferencia más notable respecto a trabajos anteriores radica en la intervención de todos los integrantes del grupo en la composición de los temas que integran el álbum, que anteriormente estaba en manos de May y Mercury.</p>

                                    <p>Al año siguiente editaron otro elepé que fue la continuación del éxito anterior: A day at the races. En News of the World (1977), en cambio, se aprecian nuevos elementos; la capacidad compositora de cada uno de los componentes llegó a su punto álgido en canciones como We are the champions, que sería en adelante un tema imprescindible en todos los conciertos de la banda.</p>

                                    <p>El álbum Jazz (1978) vino a iniciar una época de transición en la que las giras vinieron a salvar el grupo de lo que parecía una crisis creativa. En 1979 se editó el directo llamado Live killers. La marcha de Roy Thomas Baker de los controles contribuyó en 1980 a que prosiguiese la evolución del grupo, tal como se evidencia en The game (1980). Ese mismo año Queen tuvo su primera experiencia en el cine, componiendo la banda sonora de Flash Gordon de Dino de Laurentis.</p>

                                    <p>Tras el recopilatorio de 1981, se editó Hot space, en el que compartieron el tema Under Pressure con David Bowie; el álbum fue criticado por sus más acérrimos seguidores. Tres años más tarde, en 1984, se editó The works, el disco que devolvería al grupo la popularidad perdida. El éxito comercial volvió de la mano del elepé A kind of magic, que contiene el célebre tema Who wants to live forever. El álbum se utilizó en las bandas sonoras de las películas Iron Eagle y Los inmortales. Después de una macrogira saldría el directo Live Magic, y el grupo decidió tomarse un respiro.</p>

                                    <p>En 1989 se lanzó The miracle. El último elepé en estudio editado con anterioridad al fallecimiento de Mercury, víctima del sida, llevó el título de Innuendo. Tras la muerte de Freddie, Brian May comenzó a editar en solitario, y en noviembre de 1995 se publicó su álbum Made in Heaven, grabado en los estudios de Montreaux, en cuyas proximidades residía el líder del grupo en sus momentos de descanso.</p>

                                    <p>En 2002, May y Taylor proyectaron la puesta en marcha del musical We will rock you, un espectáculo para trasladar a los escenarios de medio mundo los temas más populares del grupo. Por otro lado, May anunció en diciembre de 2004 que la banda se embarcaría durante 2005 en una gira mundial en la que el lugar de Mercury sería ocupado por Paul Rodgers, el que fuera cantante de Bad Company (antes se habían barajado otros nombres, como George Michael).
                                    </p>
                                </div>
                            </div>
                        </div>
                      <button class="close-button" data-close aria-label="Close" type="button">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>