          <section id="lineup-container" data-magellan-target="lineup-container">
            <h3 class="text-center">Lineup</h3>
            <!-- el orden del atributo data-tabs es importante sino no funcionaria a pesar de estar presente en la etiqueta -->
            <ul class="tabs text-center" data-tabs id="lineup-tabs">
              <li class="tabs-title is-active">
                <a href="#panel-viernes">Viernes</a>
              </li>
              <li class="tabs-title">
                <a href="#panel-sabado">Sábado</a>
              </li>
              <li class="tabs-title">
                <a href="#panel-domingo">Domingo</a>
              </li>
            </ul>

            <div class="tabs-content" data-tabs-content="lineup-tabs">

              <div class="tabs-panel is-active" id="panel-viernes">
                
                <div class="row">
                    {{> biografia_guns_n_roses}}
                    <div class="small-12 medium-4 medium-offset-4 columns align-center">
                      <a id="biografia" class="dashboard-nav-card biografia" href="#" data-open="gunsBiografia">
                        <i class="dashboard-nav-card-icon fi-results-demographics" aria-hidden="true"></i>
                        <h3 class="dashboard-nav-card-title">Biografía</h3>
                      </a>                   
                    </div>

                    <div class="small-12 medium-6 columns">
                      <div class="card">
                        <img src="http://i2.mirror.co.uk/incoming/article675034.ece/ALTERNATES/s615/Axl-Rose-and-Slash-of-Guns-N-Roses-perform-live-at-Rock-In-Rio-II-on-January-15-1991.jpg" alt="Gun n' Roses">
                        <div class="card-divider">Guns n' Roses</div>
                      </div>
                    </div>

                    <div class="small-12 medium-6 columns">
                      <div class="card">
                        <img src="http://i2.mirror.co.uk/incoming/article675034.ece/ALTERNATES/s615/Axl-Rose-and-Slash-of-Guns-N-Roses-perform-live-at-Rock-In-Rio-II-on-January-15-1991.jpg" alt="Gun n' Roses">
                        <div class="card-divider">Guns n' Roses</div>
                      </div>
                    </div>

                    <div class="small-12 medium-6 columns">
                      <div class="card">
                        <img src="http://i2.mirror.co.uk/incoming/article675034.ece/ALTERNATES/s615/Axl-Rose-and-Slash-of-Guns-N-Roses-perform-live-at-Rock-In-Rio-II-on-January-15-1991.jpg" alt="Gun n' Roses">
                        <div class="card-divider">Guns n' Roses</div>
                      </div>
                    </div>

                    <div class="small-12 medium-6 columns">
                      <div class="card">
                        <img src="http://i2.mirror.co.uk/incoming/article675034.ece/ALTERNATES/s615/Axl-Rose-and-Slash-of-Guns-N-Roses-perform-live-at-Rock-In-Rio-II-on-January-15-1991.jpg" alt="Gun n' Roses">
                        <div class="card-divider">Guns n' Roses</div>
                      </div>
                    </div>

                </div>
                  
              </div>

              <div class="tabs-panel" id="panel-sabado">

                <div class="row">

                    {{> biografia_beatles}}
                    <div class="small-12 medium-4 medium-offset-4 columns align-center">
                      <a id="biografia" class="dashboard-nav-card biografia" href="#" data-open="beatlesBiografia">
                        <i class="dashboard-nav-card-icon fi-results-demographics" aria-hidden="true"></i>
                        <h3 class="dashboard-nav-card-title">Biografía</h3>
                      </a>                   
                    </div>

                  <div class="small-12 medium-6 columns">
                    <div class="card">
                      <img src="http://lallamarada.net/wp-content/uploads/2016/06/beatles.jpg" alt="Beatles">
                      <div class="card-divider">Beatles</div>
                    </div>
                  </div>

                  <div class="small-12 medium-6 columns">
                    <div class="card">
                      <img src="http://lallamarada.net/wp-content/uploads/2016/06/beatles.jpg" alt="Beatles">
                      <div class="card-divider">Beatles</div>
                    </div>
                  </div>

                  <div class="small-12 medium-6 columns">
                    <div class="card">
                      <img src="http://lallamarada.net/wp-content/uploads/2016/06/beatles.jpg" alt="Beatles">
                      <div class="card-divider">Beatles</div>
                    </div>
                  </div>

                  <div class="small-12 medium-6 columns">
                    <div class="card">
                      <img src="http://lallamarada.net/wp-content/uploads/2016/06/beatles.jpg" alt="Beatles">
                      <div class="card-divider">Beatles</div>
                    </div>
                  </div>

                </div>

              </div>

              <div class="tabs-panel" id="panel-domingo">

                <div class="row">
                  {{> biografia_queens}}
                  <div class="small-12 medium-4 medium-offset-4 columns align-center">
                    <a id="biografia" class="dashboard-nav-card biografia" href="#" data-open="queensBiografia">
                      <i class="dashboard-nav-card-icon fi-results-demographics" aria-hidden="true"></i>
                      <h3 class="dashboard-nav-card-title">Biografía</h3>
                    </a>                   
                  </div>

                  <div class="small-12 medium-6 columns">
                    <div class="card">
                      <img src="https://bulk2.destructoid.com/ul/150736-queen.jpg" alt="Queen">
                      <div class="card-divider">Queen</div>
                    </div>
                  </div>

                  <div class="small-12 medium-6 columns">
                    <div class="card">
                      <img src="https://bulk2.destructoid.com/ul/150736-queen.jpg" alt="Queen">
                      <div class="card-divider">Queen</div>
                    </div>
                  </div>

                  <div class="small-12 medium-6 columns">
                    <div class="card">
                      <img src="https://bulk2.destructoid.com/ul/150736-queen.jpg" alt="Queen">
                      <div class="card-divider">Queen</div>
                    </div>
                  </div>

                  <div class="small-12 medium-6 columns">
                    <div class="card">
                      <img src="https://bulk2.destructoid.com/ul/150736-queen.jpg" alt="Queen">
                      <div class="card-divider">Queen</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </section>

          