<button class="close-button" aria-level="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
</button>            
<nav data-magellan>
    <ul class="menu vertical" data-drilldown>
        <li><a href="#pricing-container">Tickets</a></li>
        <li>
        <a href="#lineup-container">Lineup</a>
        <ul class="vertical menu">
            <li><a id="viernes-canvas" data-toggle-dia="panel-viernes" href="#lineup-container">Viernes</a></li>
            <li><a id="sabado-canvas" data-toggle-dia="panel-sabado" href="#lineup-container">Sábado</a></li>
            <li><a id="domingo-canvas" data-toggle-dia="panel-domingo" href="#lineup-container">Domingo</a></li>
        </ul>
        </li>
        <li><a href="#info-container">Info</a></li>
        <li><a href="#suscribete-container">Suscribete</a></li>              
    </ul>
</nav>