          <section id="pricing-container" data-magellan-target="pricing-container">
            <h3 class="text-center">Comprar Boletos</h3>

            <div class="row">

              <div class="small-6 small-offset-3 columns">
                <ul class="pricing-table">
                  <li class="title">Platino</li>
                  <li class="price">$120</li>
                  <li class="description">Acceso viernes, sábado y domingo</li>
                  <li>2 bebidas por cada día</li>
                  <li>Parqueadero incluido todos los días</li>
                  <li>Participa de un sorteo para acceder al backstage</li>
                  <li><a class="button" href="#">Comprar platino</a></li>
                </ul>          
              </div>

            </div>

            <div class="row" data-equalizer data-equalize-on="small">

              <div class="small-5 small-offset-1 columns">
                <ul class="pricing-table">
                  <li class="title">Gold</li>
                  <li class="price">$90</li>
                  <li class="description">Acceso viernes, sábado y domingo</li>
                  <li data-equalizer-watch>Podras comprar una bebida para cada día</li>
                  <li>-</li>
                  <li>-</li>
                  <li><a class="button" href="#">Comprar Gold</a></li>
                </ul>
              </div>

              <div class="small-5 columns">
                <ul class="pricing-table">
                  <li class="title">Silver</li>
                  <li class="price">$65</li>
                  <li class="description">Acceso viernes, sábado y domingo</li>
                  <li data-equalizer-watch >-</li>
                  <li>-</li>
                  <li>-</li>
                  <li><a class="button" href="#">Comprar Silver</a></li>
                </ul>
              </div>

            </div>
          </section>