          <!-- Call to Action: es un botón o enlace situado en nuestro site que busca atraer clientes potenciales y convertirles en clientes finales, normalmente a través de un formulario en una página de destino o landing page. -->
          <section id="tickets-action">
            <!-- la clase large le añade padding al contenido de la etiqueta que lo usa -->
            <div class="callout large text-center" data-magellan>
              <a class="button large hollow" href="#pricing-container">Comprar Boletos</a>
            </div>
          </section>